<section class="wrapper">
  <section class="users-wrapper">
    <%= link_to 'newpost', "posts/new" %>
    <h1>List of users</h1>
    <% @users.each do |user| %>
      <%= link_to "users/#{user.id}", remote: false do %>
      <div class="users">
        <div class="user-img">
          <% if user&.photo%>
            <%= image_tag user.photo %>
          <% end %>
        </div>
        <div class="user-infos">
          <p class="u-name"> <%= user.name %> </p>
          <div class="u-counter-wrapper">
            Number of posts: <div class="tag">
            <p class="u-counter"> <%= user.posts_counter %> </p>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
  </section>
</section>

