<section class="wrapper">
  <div class="post-wrapper">
  <div class="post-head">
    <h2> Post by <%= @user.name %> </h2>
    <div class="com-like">
      <span class="com">Comments: <%= @post.comments.count %> | </span>
      <span class="like">Likes: <%= @post.likes.count %></span>
    </div>
  </div>
  <p><%= @post.text %></p>
  </div>

  <div class="add-comment">
    <%= form_with url: "/users/#{params[:user_id]}/posts/#{@post.id}/comment_a_post", method: :post, :class => 'main-form', local: true, scope: :comment do |f| %>
        <div class="input-container">
          <p>Add a comment:</p>
          <%= f.text_area :text,  :maxlength => 250, :class => 'text-black' %>
        </div>
        <%= f.submit "Send", :class => 'p-1 w-16 mb-8 text-zinc-200 bg-white bg-opacity-10 text-white rounded-2xl shadow-5xl border-2 border-t-0 border-l-0 border-white/25'%>
      <% end %>
  </div>

  <% if !@post.comments.empty? %>
  <section class="comment-wrapper">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p> <%= comment.author.name %> : <%= comment.text %></p>
      </div>
    <% end %>
  </section>
  <% end %>

</section>
